//MAIN INDEX

main h1 {
  @extend %titulo_principal;
}
.carrusel {
  max-height: min-content;
  .index-subtit {
    font-family: $kalam;
    font-size: 25px;
  }
  .index-txt {
    font-family: $ubuntu;
    font-size: 25px;
  }
}
//MAIN CONTACTO
.contactForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 16px;
  border-radius: 20px;
  margin: auto;
  border: solid $rojo;
  margin-top: 20px;
  max-width: 600px;
  .btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #555758;
    --bs-btn-border-color: #555758;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #555758;
    --bs-btn-hover-border-color: #555758;
    width: 100px;
  }
  .form-select:focus {
    border-color: $rojo;
    box-shadow: none;
  }
  .form-control:focus {
    border-color: $rojo;
    box-shadow: none;
  }
}
.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
/* MAIN SEGUROS */
.row {
  padding: 1rem;
  .col {
    margin: 1rem;
    .seguros-txt {
      font-family: $kalam;
      font-size: 20px;
    }
  }
}

/* MAIN SERVICIOS */
.card {
  border: var(--bs-card-border-width) none var(--bs-card-border-color);
  --bs-card-bg: #fff0;
  align-items: center;
  .card-img-top {
    width: 100px;
  }
  .card-text {
    font-family: $kalam;
    font-size: 20px;
  }
}
