$ubuntu: "Ubuntu", sans-serif;
$kalam: "Kalam", cursive;

//Paleta
$rojo: #a70016;
$gris_oscuro: #7a7a7b;
$gris_medio: #c5c6c6;
$gris_claro: #e1e2e2;

%titulo_principal {
  font-family: $kalam;
  text-align: center;
  margin: 1rem;
  color: $rojo;
  text-shadow: 1px 2px #423d3d;
}
